/*-------------------------------*/
/*   graphics.scss               */
/*-------------------------------*/

.graphic-project {
    overflow: hidden;
    background-color: var(--Theme-Color-White);
    margin-bottom: 10px;
    flex: 1 0 auto;

    @media #{$brk-tablet} {
	flex-direction: row;
        flex: 1 1 45%;
        margin: 0 2.5% 2.5% 2.5%; 
    }
   
}

.graphic-project img {
  width: 100%;
  border: 1px solid var(--Theme-Color-Grey);
}

.graphic-project h1 {
    color: var(--Theme-Color-Red);
}

.graphic-info {
    margin-bottom: 1em;
    align-self: flex-start;
}

.graphic-skills {
    margin-bottom: 1em;
    align-self: flex-start;

     @media #{$brk-tablet} {
	align-self: flex-start;
     }
}

.graphic-skills  ul {
    padding-left: 0.25em;
    list-style: square inside;
    color: var(--Theme-Color);
}
