/* ========================================================================== */
/*   portfolio.scss                                                           */
/* ========================================================================== */



.portfolio {
    overflow: hidden;
    background-color: var(--Theme-Color-White);
    border: 2px solid var(--Theme-Color-Black);
    position: relative;
    transition: transform 0.8s ease-out;

    figcaption {
	display: none;
    }
    

    img {
	display: block;
	width: 100%;

	&:hover {
	    cursor: pointer;
	    //filter: blur(2px) brightness(60%);
	    filter: blur(2px) brightness(45%);

	    &~figcaption {
		position: absolute;
		display: block;
		width: 100%;
		top: 45%;
		text-align: center;
		color: var(--Theme-Color-White);
	    }
	}
    }

    @media #{$brk-tablet} {
	flex-direction: row;
        flex: 1 1 45%;
        //margin: 0.91145833333333%; // 7 / 768 = 5.5px
	border: 1px solid var(--Theme-Color-Black);

    }
}


// First WebDev Full Page width project
.portfolio--doublewidth {
    grid-column-start: 1;
    grid-column-end: 3;
}

