/* ========================================================================== */
/*   portfolio.scss                                                           */
/* ========================================================================== */



.portfolio {
    overflow: hidden;
    background-color: var(--Theme-Color-White);
    border: 2px solid var(--Theme-Color-Black);
    position: relative;
    transition: transform 0.8s ease-out;

    &:hover {
	border: 2px solid var(--Theme-Color-White);
    }

    &_figcaption {
	display: none;
    }
    

    &_img {
	display: block;
	width: 100%;

	&:hover {
	    cursor: pointer;
	    //filter: blur(2px) brightness(60%);
	    filter: blur(2px) brightness(45%);
	   

	    &~figcaption {
		position: absolute;
		display: block;
		width: 100%;
		top: 45%;
		text-align: center;
		color: var(--Theme-Color-White);

		@media #{$brk-desktop} {
		    font-size: 1.2em;
		    letter-spacing: 1px;;
		}

		@media #{$brk-1278} {
		    font-size: 1.4em;
		    letter-spacing: 2px;
		}
	    }
	}
    }

}


// First WebDev Full Page width project
.portfolio--doublewidth {
    grid-column-start: 1;
    grid-column-end: 3;
}

