/*----------------------------------*/
/* _helpers.scss                 */
/*----------------------------------*/

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.dark-grey {
    color: var(--Theme-Color-Grey-Dk);
}
