/*----------------------------------*/
/*   _base.scss  (body, h1, p etc)  */
/*----------------------------------*/


body {
    color: var(--Body-Text-Color);
    font-size: 16px;
    line-height: 1.2em;
    font-family: var(--font-family--body);
    font-weight: var(--body-weight-regular);
    background: #fff;
    color: var(--Body-Text-Color);
    height: 100vh;
}



h1, h2, h3 {
    font-family: var(--font-family--heading);
}
  

h1 {
  font-weight: var(--heading-weight-bold);
  font-size: 24px;
  letter-spacing: 0.2em;
}

h3 {

    @media #{$brk-tablet} {
	padding-bottom: .25em;
    }
}

figure {
  padding: 0;
  margin: 0;
}

a {
     text-decoration: none;
}


/*
p {
    font-size: ;
    line-height: ;
    margin: ;
    font-weight: ;
}



blockquote {
    font-size: ;
    font-style: ;
    line-height: ;
    font-weight: ;
    margin: ;
    padding: ;
    border-left: solid size color, ;
}
*/


/* Lists */
ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



/* Form Elements */

input, 
textarea {
	display: block;
	outline: 0;
	border: 0;
}

/*
input:focus, 
textarea:focus {
	transition: ;
}
*/


/* Button */

button {
	outline: 0;
}
