/* ========================================================================== */
/*   _base.scss  (body, h1, p etc)                                            */
/* ========================================================================== */


body {
    color: var(--Body-Text-Color);
    font-size: 16px;
    line-height: 1.2em;
    font-family: var(--font-family--body);
    font-weight: var(--body-weight-regular);
    background: #fff;
    color: var(--Body-Text-Color);
    height: 100vh;
}



h1, h2, h3 {
    font-family: var(--font-family--heading);
}
  

h1 {
  font-weight: var(--heading-weight-bold);
  font-size: 2em;
  letter-spacing: 0.2em;
}

h2 {
    font-weight: var(--heading-weight-regular);
    font-size: 1.7em;

    @media #{$brk-tablet} {
	font-size: 2.0em;
    }

    @media #{$brk-1278} {
	font-size: 2.5em;
    }
}

h3 {

    @media #{$brk-tablet} {
	font-weight: var(--heading-weight-regular);
	padding-bottom: .25em;
    }
}

figure {
  padding: 0;
  margin: 0;
}

a {
     text-decoration: none;
}



/* Lists */
ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



/* Form Elements */

input, 
textarea {
	display: block;
	outline: 0;
	border: 0;
}



/* Button */

button {
	outline: 0;
}

