/* ========================================================================== */
/*  _mixins.scss                                                              */
/* ========================================================================== */



@mixin svg-icon ($size, $fill) {
    height: $size;
    width: $size;
    fill: $fill;
}


