/* ========================================================================== */
/* _about.scss                                                                */
/* ========================================================================== */

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media #{$brk-tablet} {
	grid-template-columns: 2fr 15px 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 0;
    }

    &_p {
	grid-column: 1/3;
	margin-bottom: 1em;

	@media #{$brk-tablet} {
	    grid-column: 1/2;
	    grid-row: 1/3;
	}
    }

    &_img {
	grid-column: 1/3;
	width: 38%;
	border: 2px solid var(--Theme-Color-White);
	border-radius: 50%;
	justify-self: center;
	margin-bottom: 1em;

	@media #{$brk-tablet} {
	    // grid-column: 1;
	    width: 20%;
	}
    }  
}



.aboutskills {  

    @media #{$brk-tablet} {
	padding: .25em;
	background-color: var(--Theme-Color-Grey-Md);
    }
    
    &_h3 {
	font-weight: var(--heading-weight-regular);
	margin-bottom: .5em;
    }
    
    &_li {
	padding-left: 0.25em;
	list-style: square inside;
	color: var(--Theme-Color-Md);
    }

    &--dev {
	
	@media #{$brk-tablet} {
	    grid-column: 3/4;
	}
    }

    &--design {
	
	@media #{$brk-tablet} {
	    grid-column: 4/5;
	}
    }
}

