/*----------------------------------*/
/* _containers.scss                 */
/*----------------------------------*/


body#container {
   // width: 100%;
   // height: 100%;
    // CSS Smooth Scroll
    //overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    

}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //width: 100%;
    //height: 70vh;
    //scroll-snap-align: center;
   // margin-top: 24vh;
}

section#intro {
   // background: url('../assets/pexels-laptop.jpg') no-repeat center;
    //background-size: cover;
}


section#webdev {
    background-color: var(--Theme-Color-Dk);
}



.introduction {
    font-family: var(--font-family-intro);
    font-weight: var(--heading-weight-bold);
    font-style: italic;
    font-size: 3em;
}



.sectionhead {
    font-family: var(--font-family--heading);
    font-weight: var(--heading-weight-bold);
    padding: 1em;
    color: var(--Theme-Color-White);
    //background-color: var(--Theme-Color-Dk);
}

