/* ========================================================================== */
/* _containers.scss                                                          */
/* ========================================================================== */


.body--container {
    //width: 100%;
    //height: 100%;
    //CSS Smooth Scroll
    //overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}


.section {
    display: block;
    margin: auto;
    padding: 8vh 4vw;
    background-color: var(--Theme-Color-White);

    @media #{$brk-tablet} {
	padding: 10vh 6vw;//10vh
    }

    &--webdev,
    &--poster {
	background-color: var(--Theme-Color-Dk);
    }

    &--graphic,
    &--document {
	background-color: var(--Theme-Color-Black);
    }

    &--colophon {
	background-image: linear-gradient(rgba(0, 122, 219, .7), rgba(0, 214, 219, .7)),
			  url('../assets/workspace-Web.jpg');
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	color: var(--Theme-Color-White);

	@media #{$brk-tablet} {
	    background-attachment: fixed;
	}
    }

    &--about {
	background-color: var(--Theme-Color-Grey-Lt);
    }

    &_head {
	font-family: var(--font-family--heading);
	font-weight: var(--heading-weight-regular);//Roboto Slab
	padding: 1em 0;
	color: var(--Theme-Color-White);
	text-align: right;
    }
}



.fade-in {
    opacity: 0;
}

.fade-in.appear {
    animation: appear .7s .7s ease-out forwards;
}



/* Animations */
@keyframes appear {
    0% {
	opacity: 0;
    }
    
    50% {
	opacity: .5;

    }
    
    100% {
	opacity: 1;

    }
}
