/* ========================================================================== */
/*   footer.scss                                                              */
/* ========================================================================== */


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Theme-Color-White);
    
    @media #{$brk-desktop} {
	width: 100%;//80%
	//margin: 0 auto;
	flex-direction: row;
	justify-content: center;
	padding: 0 6vw;
    }

    @media #{$brk-max} {
	width: 100%;//70%
	//padding: 0 6vw;
    }
    
}



.social-icons {
    list-style: none;
    padding: 0;
    text-decoration: none;

    ul {
	margin: 0 5% 0 5%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;


	@media #{$brk-desktop} {
	    align-items: unset;
	    justify-content: unset;
	    margin: 0;
	    margin-right: auto;
	    padding: 0 6vw;
	}
    }

    li {
	// margin: 0 5%;
	margin: 0 4%;

	@media #{$brk-tablet} {
	    //margin: 0 25% 0 25%;
	    margin: 0 20% 0 20%;
	}

	@media #{$brk-desktop} {
	    //margin: 0 15% 0 15%;
	    margin: 0 8% 0 8%;
	}
    }

    li:first-child {
	margin-left: 0;

	@media #{$brk-desktop} {
	    margin-left: 0;
	}
    }

    li:last-child {
    	margin-right: 0;

	@media #{$brk-desktop} {
	    margin-right: 0;
	}
    }
}


// Icons for Github,Twitter, etc.
.social-icons a {
    display: block;
    margin: 0;
}




.social-icons svg {
    opacity: 1;
    fill: var(--Theme-Color-Grey);
    width: 50px;
    height: 50px;
    padding: 10px;

    &:hover, &:focus {
	fill: var(--Theme-Color-Grey-Dk);
	transform: scale(1.1);
	transition: 0.3s ease-in-out;
    }
}



.copyright {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media #{$brk-tablet} {
	margin-top: 5px;
	margin-bottom:30px;
    }
    
    @media #{$brk-desktop} {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
    }
}

