/*----------------------------------*/
/* _header.scss                     */
/*----------------------------------*/


header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 55px;
    background:var(--Theme-Color);
    color: var(--Theme-Color-White);
    padding: 10px 0;
    z-index: 1;

    @media #{$brk-tablet} {
	height: 56px;
	justify-content: space-between;
    }

}


.logo {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
}



.logo a {
    color: var(--Theme-Color-White-Lt);
    text-decoration: none;
    display: block;
    padding: 16px;

    @media #{$brk-tablet} {
	padding: 17px 25px;
    }
}


